<div class="jumbotron mt-4 index">
    <h1 class="display-4">Marketlist app</h1>
    <p class="lead" style="color: white">Te damos la bienvenida a nuestra aplicacion para listar los articulos de tus compras, con ella podras agregar, editar, borrar y listar tus articulos para no olvidarte de ninguno.</p>
    <hr class="my-4">
    <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo officiis dolore aperiam veniam debitis iusto ad quisquam modi, ipsa explicabo numquam vel illum, dolor minus fuga in obcaecati facilis? Adipisci!</p>
    <p style="color: white">No estas registrado?</p>
    <a href="/signup" class="btn btn-primary">Registrate para comenzar</a>
</div>
